{% load static %}

 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>MUKONO EGG BAR</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/jumbotron.css' %}" rel="stylesheet">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.0/mapbox-gl.css' rel='stylesheet' />

  </head>


<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">MUKONO EGG FARM</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            &nbsp; &nbsp; &nbsp;
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="../eggfarm/home.html">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
</nav>

<main role="main">
<!-- Main jumbotron for a primary marketing message or call to action -->


    <div class="jumbotron">


    {% if form.errors %}
<p>Your Username and Password didn't match. Please try again with authentic credentials.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}
  <form method="post">
    {% csrf_token %}
    {{ form.username.label_tag }}
            {{ form.username }}
        &nbsp; &nbsp;

    {{ form.password.label_tag }}
    {{ form.password }}
      <br>
<button type="submit" value="login" style="align-self: center;">Submit</button>
  </form>

    </div>
</main>